body {
	cursor: default;
	font-size: 1em;
	font-family: Arial;
}

body input {
	font-size: 1em;	
	font-family: Arial;
	position: relative;
	top: 0.1em;
}

#main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column
}

#main > .bar {
	height: 2em;
	line-height: 1.8em;
	padding: 0.5em;
	background-color: #AA6600;
	background-image: url("../images/wood-pattern-01-full.jpg");
	background-size: auto 364%;
	background-position-y: -108%;
}

#main > #content {
	flex: 1;
}

#top {
	display: flex;
	flex-direction: row;
}

#top > .button {
	width: 2em;
	border: 1px solid;
	text-align: center;
}

#top > #search {
	flex: 1;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

#top > #search > * {
	display: inline;
}

#search_textfield {
	width: 70%;
	max-width: 30em;
}