body {
	cursor: default;
	background: white;
}

body input {
	position: relative;
	top: 0.1em;
}

body,
body input {	
	font-size: 1em;	
	font-family: Arial;
}

/* general properties */
.image {
	/*shape-rendering: crispEdges;*/
}

.hidden {
	opacity: 0;
}

h1 {
	font-size: 120%;
	text-transform: uppercase;
}

h2 {
	font-size: 110%;
	text-transform: uppercase;
}

h3 {
	font-size: 100%;
	text-transform: uppercase;
}