.calendar {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	line-height: 1em;
}

.calendar .calendar_nav {
	display: flex;
    flex-direction: row;
	color: rgb(150,85,0);
	line-height: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.calendar .calendar_nav .button {
	width: 1.5em;
    text-align: center;
	font-weight: bold;
}

.calendar .calendar_nav .button:active {
	filter: url(#highlight);
}

.calendar .calendar_nav .label {
	flex: 1;
    text-align: center;
	font-weight: bold;
}

.calendar .calendar_nav .label label{
	margin: 0.3em;
}

.calendar_labels, 
.calendar_week {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.calendar_labels {
	/*flex: 0.5;*/
}

.calendar_week {
	flex: 1;
}

.calendar_labels .calendar_day {
	color: white;
	background: rgb(150,85,0);
	text-transform: capitalize;
}

.calendar_day {
	flex: 1;
	border: 1px solid rgb(85,85,85);
	margin: 0.08em;
	padding: 0.12em;
	overflow: hidden;
}

.calendar_day.calendar_previous_month .calendar_number,
.calendar_day.calendar_next_month .calendar_number {
	color: rgb(85,85,0);
}

.calendar_day.calendar_current_month .calendar_number {
	color: rgb(150,85,0);
}

.calendar_day .calendar_event {
	white-space: nowrap;
}

.calendar_day .calendar_event .title {
	font-size: 75%;
	display: block;
}

.calendar_day .calendar_event .count {
	font-size: 50%;
	display: block;
	line-height: 100%;
}

.calendar_day .calendar_event .location {
	font-size: 50%;
	display: block;
	line-height: 100%;
}

.calendar_day .calendar_number {
	/*text-align: right;*/
}
