/* main layout with top & bottom bar etc. */

#main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

#main > .bar {
	/*
	height: 2em;
	line-height: 1.8em;
	*/
	padding: 0.3em;
}

#main > .bar input[type=text] {
}

#main > #center {
	flex: 1;
	overflow: hidden;
}

#top {
	display: flex;
	flex-direction: row;
	border-bottom: 0.2em solid rgb(150,85,0);
}

#main > .bar > .button {
	width: 2em;
	text-align: center;
}

#main > .bar > .button:active {
	filter: url(#highlight);
	/*box-shadow: 0.0em 0.0em 0.1em red, 0.0em 0.0em 0.2em red;*/
}

#main > .bar > .button > span {
	font-size: 150%;
}

#main > .bar .image {
	width: 100%;
	height: 100%;
}

#top > #logo_search {
	flex: 1;
	text-align: center;
	/*
	margin-left: 10%;
	margin-right: 10%;
	*/
	background-image: url("../images/logo-placeholder.svg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

#top > #logo_search > * {
	display: inline;
}

#search {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background: white;	
	transition: opacity 0.2s;
	z-index: 1;
}

#search.hidden {
	transition: opacity 2s, z-index 4s;
	z-index: -1;
}

#search_textfield {
	width: 90%;
	max-width: 30em;
	border: none;
	border-bottom: 0.05em solid rgb(150,85,0);
}

#add_button > span {
	position: relative;
	top: -0.05em;
}

#menu {
	position: absolute;
	top: 3.0em;
	z-index: 4;
	background: white;
	border-bottom: 0.2em solid rgb(150,85,0);
	border-right: 0.05em solid rgb(150,85,0);
	/*border-left: 0.05em solid rgb(150,85,0);*/
	height: auto;
	left: 0%;
	width: 60%;
	opacity: 1;
	transition: all 0.5s;
}

#menu.hidden {
	left: -61%;
}

#menu ul {
	padding: 0;
}

#menu > ul {	
	margin-top: 1px;
	margin-bottom: 1px;
}

#menu li {
	padding: 0.5em;
}

#menu > ul > li {
	text-transform: uppercase;
	color: rgb(150,85,0);
	list-style-type: none;
	/*font-size: 80%;*/
	line-height: 1em;
}

#menu > ul > li.selectable:active {
	background: rgb(150,85,0);
	color: white;
}

#menu .separator {
	border-bottom: 1px solid;
	margin: 0.5em;
	padding: 0;
}

#menu > ul > li > ul {	
	color: black;
	list-style-type: none;
	text-transform: capitalize;
    margin: -0.5em;
}

#menu > ul > li > ul > li {
	padding-left: 1em;
}

#menu .image {
	float: right;
	position: relative;
	bottom: 0.2em;
	width: 1.8em;
	height: 1.2em;
}

#menu > ul > li > ul > li.selectable:active {
	background: rgb(85,85,85);
	color: white;
}

#menu > ul > li > ul > li.selectable .image.active {
	display: none;
}

#menu > ul > li > ul > li.selectable .image.not_active {
	display: inline;
}

#menu > ul > li > ul > li.selectable.active .image.active {
	display: inline;
}

#menu > ul > li > ul > li.selectable.active .image.not_active {
	display: none;
}

#center {
	position: relative;
}

#bottom {
	display: flex;
	flex-direction: row;
	border-top: 0.2em solid rgb(150,85,0);
	justify-content: center;
}

#bottom > .button {
	width: 4em !important;
}

/* now the content */

#content_frame {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow-y: auto;
}

#content_frame > div {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0.5em;
}

#content_frame > div.fill {
	overflow: hidden;
}

#content_frame > div.scrollable {
	overflow-y: auto;
}

#content_frame > div.hidden {
	display: none;
}

#content_frame > div > div {
	z-index: -2;
}

#content_frame > div.fill > div {
	overflow: hidden;
	height: 100%;
}

#content_frame > div.scrollable > div {
	overflow-y: auto;
}

/* fade content on scroll */
/*
#content_frame > div::before,
#content_frame > div::after {
	height: 2em;
	background: red;
	position: fixed;
	left: 0;
	right: 0;
	content: ' ';
}

#content_frame > div::before {
	top: 3.2em;
	background: linear-gradient(white, transparent);
}

#content_frame > div::after {
	bottom: 3.2em;
	background: linear-gradient(transparent, white);
}
*/

/* specific windows */

#manage_categories ul {
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1px;
	position: relative;
}

#manage_categories ul > li {
	list-style-type: none;
	padding: 0.5em;
	line-height: 1em;
	position: absolute;
	transition: top 0.5s;
	width: 95%;
}

/* via JS
#manage_categories ul > li.position0  {	top:  0em;  }
#manage_categories ul > li.position1  {	top:  2em;  }
#manage_categories ul > li.position2  {	top:  4em;  }
#manage_categories ul > li.position3  {	top:  6em;  }
#manage_categories ul > li.position4  {	top:  8em;  }
#manage_categories ul > li.position5  {	top: 10em;  }
#manage_categories ul > li.position6  {	top: 12em;  }
#manage_categories ul > li.position7  {	top: 14em;  }
#manage_categories ul > li.position8  {	top: 16em;  }
#manage_categories ul > li.position9  {	top: 18em;  }
#manage_categories ul > li.position10 {	top: 20em;  }
*/

#manage_categories .content .image {
	float: right;
	margin-left: 1em;
	position: relative;
	bottom: 0.35em;
	width: 1.5em;
	height: 1.5em;
	opacity: 1;
}

#manage_categories ul > li.selectable .image.favorite {
	display: none;
}

#manage_categories ul > li.selectable .image.no_favorite {
	display: inline;
}

#manage_categories ul > li.selectable.favorite .image.favorite {
	display: inline;
}

#manage_categories ul > li.selectable.favorite .image.no_favorite {
	display: none;
}

#manage_categories ul > li.selectable.first .image.up,
#manage_categories ul > li.selectable.last .image.down {
	/*opacity: 0;*/
}

/* components */
body input[type="text"],
body input[type="datetime-local"],
body select {
	position: relative;	
    top: -0.05em;
	height: 1.1em;
	/*border: 0.5px solid rgb(85,85,85);*/
}

body input[type="datetime-local"] {
	height: 1.2em;
}

body select {
    height: 1.45em;
}