

/* ratings list */
.list > ul {
	list-style: none;
    padding-left: 0;
	display: flex;
    margin: 0;
    overflow: hidden;
}

.list .product {
	font-size: 75%;	
}

.list .details {
	font-size: 50%;	
}

.list > ul > li {
	
}

/* view style "standard" */

.list.standard > ul {
	flex-direction: column;
}

.list.standard > ul > li {	
	height: 4em; 
}


.list.standard > ul > li > div {
	display: inline-block;
	height: 100%;
    vertical-align: top;
}

.list.standard .image {
}

.list.standard .image img {
	height: 100%; 
}

.list.standard .text {
	width: 80%;
}

.list.standard .rating {	
    height: 1em;
}

.list.standard .product {
	display: inline-block;
    max-height: 1em;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.list.standard .details {
    height: 3em;
    overflow: hidden;
	line-height: 1em;
	text-overflow: ellipsis;
}

/* view style "compact" */

.list.compact > ul {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.list.compact > ul:after {
	/* left-align last row by adding after-element */
	content: "";
	flex: auto;
}

.list.compact > ul > li {
	width: 33.3333333%;
    padding: 0.5em;
    box-sizing: border-box;
}

.list.compact .image {
	
}

.list.compact .image img {
	width: 100%;
}

.list.compact .text {
	
}

.list.compact .rating {
    height: 1em;	
}

.list.compact .product {
	
}

.list.compact .details {

}