

/* ratings list */
.list > ul {
	list-style: none;
    padding-left: 0;
	display: flex;
}

.list > ul > li {
	
}

/* view style "standard" */

.list.standard > ul {
	flex-direction: column;
}

.list.standard > ul > li {	
	height: 4em; 
}


.list.standard > ul > li > div {
	display: inline-block;
	height: 100%;
    vertical-align: top;
}

.list.standard .image {
}

.list.standard .image img {
	height: 100%; 
}

.list.standard .rating {
	
}

.list.standard .product {
	display: inline-block;
}

.list.standard .details {
	
}

/* view style "compact" */

.list.compact > ul {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.list.compact > ul:after {
	/* left-align last row by adding after-element */
	content: "";
	flex: auto;
}

.list.compact > ul > li {
	width: 33.3333333%;
    padding: 0.5em;
    box-sizing: border-box;
}

.list.compact .image {
	
}

.list.compact .image img {
	width: 100%;
}

.list.compact .rating {
	
}

.list.compact .product {
	
}

.list.compact .details {
	
}