.stars {
	color: rgb(150,85,0);
    position: relative;
    float: left;
	height: 1em;
    line-height: 1em;
}

.stars:before {	
    content: "\2606\2606\2606\2606\2606";
    float: left;
}

.stars:after {	
    content: "\2605\2605\2605\2605\2605";
    position: absolute;
    left: 0;
    float: left;
    overflow: hidden;
}