/* window */


/*
.window {
	z-index: 1;
}

.window.hidden {
	z-index: -1;
}

.window, 
.window *,
.window::after {
	transition: opacity 0.5s;
}

.window.hidden,
.window.hidden *,
.window.hidden::after {
	transition: opacity 0.5s;
}
*/

.window .frame {
    position: absolute;
	/* fensteransicht */
	/*
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height: 70%;
	width: 80%;
	*/
	/* fullscreen */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
	
	overflow-y: auto;
	background: white;
	border-top: 0.2em solid rgb(150,85,0);
	border-bottom: 0.2em solid rgb(150,85,0);
	border-right: 0.05em solid rgb(150,85,0);
	border-left: 0.05em solid rgb(150,85,0);
	padding: 0.5em;
	z-index: 3;
}

.window .frame h1,
.window .frame h2,
.window .frame h3 {	
	color: rgb(150,85,0);
    margin-top: 0.75em;
    margin-bottom: 0.25em;
	border-bottom: 1px solid;
	font-weight: unset;
	padding-bottom: 0.2em;
}

.window .frame>h1:nth-child(1),
.window .frame>h2:nth-child(1),
.window .frame>h3:nth-child(1) {
    margin-top: 0em;
}

.window .frame h3 label {
	width: inherit !important;
}

.window .close {
	display: inline;
	float: right;
	width: 1.2em;
	height: 1.2em;
}

.window.modal::after {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.5);
	z-index: 2;
}

.window.modal.hidden::after {
	display: none;
}

.window label.hidden,
.window div.hidden {
	display:none;
}

.window .control {
	color: rgb(150,85,0);
	text-align: center;
	padding-top: 0.3em;
	margin-top: 0.75em;
	/*margin-bottom: 0.25em;*/
	border-top: 1px solid;
}

.window .control div {
	display: inline-block;
}

.window .control .button {
	border: 1px solid;
	background: rgb(150,85,0);
	color: white;
    padding: 0.3em;
    margin-left: 0.5em;
	margin-right: 0.5em;
}

.window .control .button:active {
	/*
	background: white;
	color: rgb(150,85,0);
	*/
	filter: url(#highlight);
}

.window.form .content form {
	display: inline-block;
	/*margin-top: 1em;*/
    width: 100%;
}

.window.form .content form label {
	width: 35%;
    /*float: left;
	display: block;*/
	display: inline-block;
}

.window.form .content form input {
	width: 63%;
    /*float: left;*/
}

.window.form .content form input[type="datetime-local"] {
	width: 63.6%;
    /*float: left;*/
}

.window.form .content form select {
	width: 64.2%;
    /*float: left;*/
}

.window.form .content form textarea {
	width: 98%;
    /*float: left;*/
	display: block;
    height: 4em;
    margin-bottom: -1em;
}

.window.form .content form div.validatable {
	display: inline-block;
}

.window.form .content .validatable.invalid {
	/*
	background: rgba(255, 127, 0, 0.5);
	*/
}

.window.form .content .validatable+.marker {
	opacity: 0;
	color: rgb(255, 127, 0);
    float: right;
    width: 0;
	font-style: bold;
}
	
.window.form .content .validatable.invalid+.marker {
	opacity: 1;
}




/*

.window.form .content .form {
	display: inline-block;
	margin-top: 1em;
}

.window.form .content .form label {
	width: 35%;
	float: left;	
	display: block;
}

.window.form .content .form input {
	width: 62%;
    float: left;
}

.window.form .content .form textarea {
	width: 100%;
	float: left;	
	display: block;
}
*/